global:
  domain: argocd.cloudspinx.dpdns.org

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - argocd.cloudspinx.dpdns.org
    paths:
      - path: /
        pathType: Prefix 
    tls:
      - secretName: argocd-server-tls
        hosts:
          - argocd.cloudspinx.dpdns.org
