global:
  domain: argocd.kloudke.dpdns.org

server:
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - argocd.kloudke.dpdns.org
    paths:
      - /
    pathType: Prefix 
    tls:
      - secretName: argocd-server-tls
        hosts:
          - argocd.kloudke.dpdns.org
