apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-apitoken-secret
  namespace: cert-manager
type: Opaque
stringData:
  apitoken: CLOUDFLARE_API_TOKEN

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: gedionkiprotich3@gmail.com
    privateKeySecretRef:
      name: letsencrypt-staging
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            key: apitoken
            name: cloudflare-apitoken-secret
      selector:
        dnsZones:
        - cloudspinx.dpdns.org
        - '*.cloudspinx.dpdns.org'
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: gedionkiprotich3@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            key: apitoken
            name: cloudflare-apitoken-secret
      selector:
        dnsZones:
        - cloudspinx.dpdns.org
        - '*.cloudspinx.dpdns.org'
