---
- name: Fetch kubeconfig from control plane
  hosts: kube_control_plane[0]
  become: true
  gather_facts: false
  tasks:
    - name: Fetch admin.conf
      fetch:
        src: /etc/kubernetes/admin.conf
        dest: "{{ inventory_dir }}/artifacts/admin.conf"
        flat: yes

    - name: Update server IP in kubeconfig
      replace:
        path: "{{ inventory_dir }}/artifacts/admin.conf"
        regexp: 'https://127.0.0.1:6443'
        replace: 'https://{{ ansible_host }}:6443'
      delegate_to: localhost
      become: false
